body,main {
  display: flex;
}

body {
  flex-direction: column;
  background-color: rgb(217, 255, 246);
}
h1, h2{
  color: brown;
}
main {
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2; 
}
a{
  color: red;
  text-decoration: none;
}
a:hover {
text-decoration: underline;
}
a:visited {
  color: rgb(255, 160, 44);
}
.logo {
font-size: 3em;
color: cornflowerblue;
margin-right: 10px;
}
article {
  padding: 1em;
}
aside {
  flex: 1;
}
article,
aside {
  overflow-y: auto;
}